#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Disable format-security errors (due to some taco warnings)
# Code should be fixed instead of this workaround.
export DEB_CFLAGS_MAINT_APPEND= -Wno-error=format-security
export DEB_CXXFLAGS_MAINT_APPEND= -Wno-error=format-security
export DEB_CPPFLAGS_MAINT_APPEND= -Wno-error=format-security
export DEB_LDFLAGS_MAINT_APPEND= -L/opt/taco/lib/$(DEB_HOST_MULTIARCH)
export PKG_CONFIG_PATH=/opt/taco/lib/$(DEB_HOST_MULTIARCH)/pkgconfig

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Enable verbose make output if verbose mode is enabled
export V=$(DH_VERBOSE)


override_dh_auto_configure:
	dpkg-parsechangelog | sed -n -e 's/^Version: //p' > .tarball-version
	qmake
#	dh_auto_configure -- --prefix=/opt/taco DESTDIR=/opt/taco LDFLAGS=-L/opt/taco/lib/$(DEB_HOST_MULTIARCH)

override_dh_strip:
	dh_strip --dbg-package=qmesydaq-dbg

override_dh_auto_install:
	dh_auto_install

override_dh_install:
	dh_install --list-missing

override_dh_usrlocal:

%:
	dh $@

